body {
    /*background-color: #ffffff;*/
    background: url(../../public/images/bg.png) repeat;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    /*margin: 10px;*/
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  25px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: white;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}
#ui-panel-titlebar{
    height: 20px !important
}
.negrita{
    color:#036fab;
}
.inputmediano{
    width: 300px;
}