<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <h:outputStylesheet name="css/default.css"/>
        <h:outputStylesheet name="css/cssLayout.css"/>
        <title>#{adminBean.titulopagina}</title>
    </h:head>
    <script type="text/javascript">
        function Validar(xhr, status, args) {
            if (args.validationFailed) {
                PF('wdatoscambioclave').show();
            } else {
                PF('wdatoscambioclave').hide();
            }
        }
    </script>
    <h:body  style="margin: 0px">
        <p:dialog header="Datos" widgetVar="wdatoscambioclave" id="wdatoscambioclaveid" modal="true" showEffect="explode" hideEffect="explode">
            <h:form>
                <h:panelGrid columns="2">
                    <p:outputLabel value="Usuario" class="negrita"/>
                    <p:inputText value="#{adminBean.usuariohistorial.usu_nombre}"/>
                    <p:outputLabel value="Nick" class="negrita"/>
                    <p:inputText value="#{adminBean.usuariohistorial.ush_correo}"/>

                    <p:outputLabel value="Nueva Contraseña" class="negrita" for="newclave"/>
                    <h:panelGroup>
                        <p:inputText value="#{adminBean.usuariohistorial.clavenuevo}" id="newclave" required="true" requiredMessage="La Contraseña no puede estar vacío" validatorMessage="Minimo 8 caracteres!">
                            <f:validateLength minimum="8" />
                        </p:inputText>
                        <h:message for="newclave" errorStyle="color: red" />

                    </h:panelGroup>
                    <p:commandButton value="Guardar" actionListener="#{adminBean.guardarCambioclave()}" oncomplete="Validar(xhr, status, args)" update="@form"  />
                    <p:commandButton value="Cancelar" onclick="PF('wdatoscambioclave').hide()"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>  


        <div id="top">
            <ui:insert name="top">
                <h:panelGrid columns="2">
                             <p:graphicImage width="180" value="/file/#{adminBean.datosempresa.datemp_logo}" style="margin-top: 10px;"/>
                <h1>#{adminBean.datosempresa.datemp_nombreempresa}</h1>
              
                </h:panelGrid>
                <f:verbatim escape="true">
                    <div id="blah" style="width: 100%; text-align: right;">Ver. 1.0.3</div>
                </f:verbatim>  
                <h:form> 

                    <p:growl id="messages"/>
                    <p:menubar>
                        <c:forEach var="row" items="#{adminBean.arraymenu}">
                            <p:menuitem value="#{row.men_nombre}" url="/faces/#{row.men_alias}.xhtml" icon="ui-icon-folder-collapsed" />
                        </c:forEach>


                        <f:facet name="options">
                            <p:outputLabel style="margin-right:10px;" value="#{adminBean.MostrarNombre()}"/>
                            <p:menuButton value="OPCIONES">
                                <p:menuitem value="Cambiar Contraseña"  icon="ui-icon-unlocked" actionListener="#{adminBean.leerUsuarioBean()}" oncomplete="PF('wdatoscambioclave').show()" update=":wdatoscambioclaveid,messages"/>
                                <p:menuitem value="Cerrar Sesión" action="#{adminBean.CerrarSession()}" icon="ui-icon-extlink" />
                            </p:menuButton>
                        </f:facet>
                    </p:menubar>
                </h:form>

            </ui:insert>
        </div>
        <div>

            <div id="content" class="left_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
<!--        <div id="bottom">
            <ui:insert name="bottom">Derechos reservados</ui:insert>
        </div>-->

    </h:body>

</html>
