<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">

        <h:form id="form1">
            <p:panel id="basic" header="#{adminBean.rol_id==15? 'Solicitudes Pendientes':asignacionBean.nompagina}"  style="margin-bottom:20px">
                <h:panelGrid columns="4" cellpadding="1" cellspacing="2" style="width: 100%">

                    <p:outputLabel value="Personal" class="negrita"/>
                    <p:inputText value="#{asignacionBean.asigdetalle.nomempleado}" disabled="true" class="inputmediano"/>
                    <p:outputLabel value="Fecha de Solicitud:" class="negrita"/>
                    <p:inputText value="#{asignacionBean.asigdetalle.fechasolicitud}" disabled="true"/>

                    <p:outputLabel value="Cargo:" class="negrita"/>
                    <p:inputText value="#{asignacionBean.asigdetalle.car_nombre}" disabled="true"/>
                 

                    <p:outputLabel value="Solicitante:" class="negrita"/>
                    <p:inputText value="#{asignacionBean.asigdetalle.nomsolicitante}"  disabled="true"  class="inputmediano"/>
                    <p:outputLabel value="Sucursal:" class="negrita"/>
                    <p:inputText value="#{asignacionBean.asigdetalle.sucursal}" class="inputmediano" disabled="true"/>

                </h:panelGrid>

                <p:dataTable var="rowitem" editable="true" value="#{asignacionBean.listalmacen}" paginator="true" paginatorPosition="bottom" rows="30" id="listasignacion" style="width: 100%; margin-top: 10px" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                    <f:facet name="header">
                        Lista de Items de Ropa de Trabajo
                    </f:facet>
                    <p:column headerText="Nro" style="width: 25px">
                        <h:outputText value="#{rowitem.alfanumeric}" />
                    </p:column>
                    <p:column headerText="Prenda">
                        <h:outputText value="#{rowitem.pro_itemname}"/>
                    </p:column>

                    <p:column headerText="Color"  >
                        <h:outputText value="#{rowitem.pro_color}"  />
                    </p:column>

                    <p:column headerText="Logo" >
                        <h:outputText value="#{rowitem.pro_logo}" />
                    </p:column>
                    <p:column headerText="stok" style="background:#{rowitem.al_cantidad==0?'red':''};width: 30px;">
                        <h:outputText value="#{rowitem.al_cantidad}"/>
                    </p:column>
                         <p:column headerText="Asig." style="width: 30px;">
                             <h:outputText value="#{rowitem.cantasignado}"/>
                    </p:column>
                    <p:column headerText="Material">
                        <h:outputText value="#{rowitem.pro_material}"/>
                    </p:column>
                    <p:column headerText="Talla"  style="width:35px">
                        <h:outputText value="#{rowitem.pro_talla}" />
                    </p:column>

                    <p:column headerText="Acción" style="background:#{rowitem.estadodevolucion==1?'red':''};">
                <p:commandButton icon="ui-icon-newwin" actionListener="#{asignacionBean.leerModificar(rowitem)}" oncomplete="PF('vardatoitem').show()" update=":vardatoitemid" title="Editar" />
                <p:commandButton icon="#{rowitem.al_cantidad==0||rowitem.estadodevolucion==1?'ui-icon-cancel':'ui-icon-check'}" value="Asignar" actionListener="#{asignacionBean.updateAsignarItem(asignacionBean.sol_id,rowitem)}" onclick="if (!confirm('Antes de Asignar compruebe los datos del Comprobante ?'))
                    return false" update="listasignacion" title="Asignar" /><font color="white">#{rowitem.estadodevolucion==1?'     Ropa Pendiente':''}</font>
                    </p:column>
                </p:dataTable>    
                
                <br>
                    <h:commandButton  value="Comprobante" actionListener="#{asignacionBean.exportarPdf()}" style="padding: 4px" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" />  
               </br>    
            </p:panel>

        </h:form>
        <p:dialog widgetVar="vardatoitem" id="vardatoitemid" modal="true" > 
            <h:form>
                <p:fieldset  style="margin-bottom:5px;">
                    <p:outputLabel  value="Items de Prenda:" class="negrita" for="itemropa"/>
                    <p:selectOneMenu id="itemropa" value="#{asignacionBean.almacen.al_id}" required="true" requiredMessage=" La Prenda no puede estar vacío">
                        <f:selectItem itemLabel="---" itemValue=""/>
                        <f:selectItems value="#{asignacionBean.itemsSelect}" />
                        <p:ajax event="change" listener="#{asignacionBean.selectAjaxCantidad(event)}" update="alcantidad,altalla,allogo,algenero,alcosto,alcolor,alcodigo,alprenda,aldescripcion,almaterial" />
                    </p:selectOneMenu>
                    <h:message for="itemropa" errorStyle="color: red" />
                </p:fieldset>
                <p:fieldset legend="Información del Item de Ropa de Trabajo" style="margin-bottom:5px;">
                    <h:panelGrid columns="6" width="100%">
                        <p:outputLabel  value="Cantidad:" class="negrita"/>
                        <p:outputLabel id="alcantidad" value="#{asignacionBean.almacen.al_cantidad}"/>
                        <p:outputLabel  value="Talla:" class="negrita"/>
                        <p:outputLabel id="altalla" value="#{asignacionBean.almacen.pro_talla}" />
                        <p:outputLabel  value="Logo:" class="negrita"/>
                        <p:outputLabel id="allogo" value="#{asignacionBean.almacen.pro_logo}" />

                        <p:outputLabel  value="Genero:" class="negrita"/>
                        <p:outputLabel id="algenero" value="#{asignacionBean.almacen.pro_genero}"/>
                        <p:outputLabel  value="Costo:" class="negrita"/>
                        <p:outputLabel id="alcosto" value="#{asignacionBean.almacen.al_costo}" />   
                        <p:outputLabel  value="Color:" class="negrita"/>
                        <p:outputLabel id="alcolor" value="#{asignacionBean.almacen.pro_color}" /> 

                        <p:outputLabel  value="Codigo:" class="negrita"/>
                        <p:outputLabel id="alcodigo" value="#{asignacionBean.almacen.pro_itemcode}"/>
                        
                        <p:outputLabel  value="Prenda:" class="negrita"/>
                        <p:outputLabel id="alprenda" value="#{asignacionBean.almacen.pro_itemname}" />

                        <p:outputLabel  value="Material:" class="negrita"/>
                        <p:outputLabel id="almaterial" value="#{asignacionBean.almacen.pro_material}" />

                        <p:outputLabel  value="Descripción:" class="negrita"/>
                        <p:outputLabel id="aldescripcion" value="#{asignacionBean.almacen.pro_descripcion}" />
                    </h:panelGrid>

                </p:fieldset>   
                <p:commandButton value="Modificar" icon="ui-icon-pencil" actionListener="#{asignacionBean.modificarItem(asignacionBean.deta_id)}" oncomplete="handleDialogSubmit(xhr, status, args)"  update="@form,:form1:listasignacion"/>
                <p:commandButton value="Cancelar" immediate="true" onclick="PF('vardatoitem').hide()" icon="ui-icon-cancel"/>
            </h:form>
        </p:dialog>

        <script type="text/javascript">
            function handleDialogSubmit(xhr, status, args) {
                if (args.validationFailed) {
                    PF('vardatoitem').show();
                } else {
                    PF('vardatoitem').hide();
                }
            }
        </script>
    </ui:define>

</ui:composition>
