<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
        <h:form id='form1'>
            <p:panel id="basic" header="#{adminBean.rol_id==15? 'Solicitudes Pendientes':asignacionBean.nompagina}"  style="margin-bottom:20px">

                <c:if test="#{adminBean.rol_id==27}">
                    <p:commandButton value="Solicita Nueva Prenda" icon="ui-icon-document" oncomplete="PF('wdatosvar').show()" actionListener="#{Bean.setAccion('Registrar')}"  />
                </c:if>
                        <p:commandButton value="Actualizar" icon="ui-icon-refresh" actionListener="#{asignacionBean.listarasignaciones()}" update="listasignacion"/>

                <p:dataTable var="rowasignacion" value="#{asignacionBean.arrayasignacion}" paginator="true" paginatorPosition="bottom" rows="30" id="listasignacion" style="width: 100%; margin-top: 10px" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                    <p:column headerText="Nro" style="width: 25px">
                        <h:outputText value="#{rowasignacion.alfanumeric}"/>
                    </p:column>
                    <p:column headerText="Solicitante">
                        <h:outputText value="#{rowasignacion.nomsolicitante}"/>
                    </p:column>
                    <p:column headerText="Tipo de Solicitud">
                        <h:outputText value="#{rowasignacion.motivo_solicitud}"/>
                    </p:column>
                    <p:column headerText="Personal">
                        <h:outputText value="#{rowasignacion.nomempleado}"/>
                    </p:column>

                    <p:column headerText="Cargo">
                        <h:outputText value="#{rowasignacion.car_nombre}"/>
                    </p:column>
                    <p:column headerText="Fecha de solicitud">
                        <h:outputText value="#{rowasignacion.fechasolicitud}"/>
                    </p:column>  
                 
                    <p:column headerText="Acción">
                        <p:commandLink  action="asignaciondetalle" actionListener="#{asignacionBean.obtenerDato(rowasignacion.sol_id)}"> 
                            <p:commandButton title="Ver" icon="ui-icon-search"/>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>    
            </p:panel>
        </h:form>



        <script type="text/javascript">
            function handleDialogSubmit(xhr, status, args) {
                if (args.validationFailed) {
                    PF('wdatosvar').show();
                } else {
                    PF('wdatosvar').hide();
                }
            }
        </script>
    </ui:define>

</ui:composition>
