<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">

        <h:form id='form1'>

            <p:panel id="basic" header="#{devolucionBean.nompagina}">


                <p:inputText  value="#{devolucionBean.palabra}" id="search" class="inputmediano"/>
                <p:commandButton  value="Buscar" icon="ui-icon-refresh" actionListener="#{devolucionBean.bucarDevolucion()}" update="listasignacion" />
                                <p:commandButton value="Actualizar" icon="ui-icon-refresh" actionListener="#{devolucionBean.listarDevolucionBean()}" update="listasignacion"/>

                <p:dataTable widgetVar="carsTable" var="rowdev" value="#{devolucionBean.arraydevolucion}" paginator="true" paginatorPosition="bottom" rows="10" id="listasignacion" style="width: 100%; margin-top: 10px" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                    <f:facet name="header" >
      
                    </f:facet>
                    <p:column headerText="Nro" style="width: 20px;background:#{rowdev.estadofecha==1?'orange':''}" >
                        <h:outputText  value="#{rowdev.alfanumeric}"/>
                    </p:column>
                    <p:column headerText="Personal"  style="background:#{rowdev.estadofecha==1?'orange':''}">
                        <h:outputText value="#{rowdev.nomempleado} (#{rowdev.car_nombre})"/>
                    </p:column>
                    <p:column headerText="Prenda" style="background:#{rowdev.estadofecha==1?'orange':''}">
                        <h:outputText value="#{rowdev.nomitem}"/>
                    </p:column>
                    <p:column headerText="Fecha Asignado" style="background:#{rowdev.estadofecha==1?'orange':''}">
                        <h:outputText value="#{rowdev.sol_fechaasignacion}" />
                    </p:column>  
                    <p:column headerText="Fecha Devolución Estimada" style="background:#{rowdev.estadofecha==1?'orange':''}">
                        <h:outputText value="#{rowdev.deta_fechatentativa}"/>
                    </p:column>

                    <p:column headerText="Acción" style="background:#{rowdev.estadofecha==1?'orange':''}">
                        <p:commandButton title="Recibir" icon="ui-icon-pencil" value="Recibir" actionListener="#{devolucionBean.leerIdBean(rowdev)}" oncomplete="PF('vardatodevo').show()" update=":vardatodevoid"/>
                    </p:column>
                </p:dataTable>    
            </p:panel>
        </h:form>
        <p:dialog widgetVar="vardatodevo" id="vardatodevoid" modal="true">
            <h:form>
                <p:fieldset legend="Información del Item de Ropa de Trabajo" style="margin-bottom:5px;">
                    <h:panelGrid columns="4" width="100%">


                        <p:outputLabel  value="Cantidad Solicitada:" class="negrita" for="cantsolicitada"/>
                        <p:inputText value="#{devolucionBean.devolucion.candidadsolicitada}" id="cantsolicitada" converterMessage="Por favor ingres una cantidad válida" size="2" >
                            <f:convertNumber integerOnly="true" type="number" />
                        </p:inputText>
                        
                        <p:outputLabel  value="Talla:" class="negrita"/>
                        <p:outputLabel id="altalla" value="#{devolucionBean.devolucion.pro_talla}" />
                        <p:outputLabel  value="Logo:" class="negrita"/>
                        <p:outputLabel id="allogo" value="#{devolucionBean.devolucion.pro_logo}" />
                        <p:outputLabel  value="Genero:" class="negrita"/>
                        <p:outputLabel id="algenero" value="#{devolucionBean.devolucion.pro_genero}"/>
                        <p:outputLabel  value="Costo:" class="negrita"/>
                        <p:outputLabel id="alcosto" value="#{devolucionBean.devolucion.al_costo}" />   
                        <p:outputLabel  value="Color:" class="negrita"/>
                        <p:outputLabel id="alcolor" value="#{devolucionBean.devolucion.pro_color}" /> 

                        <p:outputLabel  value="Codigo:" class="negrita"/>
                        <p:outputLabel id="alcodigo" value="#{devolucionBean.devolucion.pro_itemcode}"/>
                        <p:outputLabel  value="Prenda:" class="negrita"/>
                        <p:outputLabel id="alprenda" value="#{devolucionBean.devolucion.pro_itemname}" />

                        <p:outputLabel  value="Material:" class="negrita"/>
                        <p:outputLabel id="almaterial" value="#{devolucionBean.devolucion.pro_material}" />

                        <p:outputLabel  value="Descripción:" class="negrita"/>
                        <p:outputLabel id="aldescripcion" value="#{devolucionBean.devolucion.pro_descripcion}" />

                    </h:panelGrid>
                </p:fieldset> 
                <p:fieldset  style="margin-bottom:5px;" legend="Recepción de Prenda">
                    <p:panelGrid columns="2" >
                        <p:outputLabel  value="Trabajador:" class="negrita" />
                        <p:inputText value="#{devolucionBean.devolucion.nomempleado}" disabled="true"/>
                        <p:outputLabel  value="Cargo:" class="negrita" />
                        <p:inputText value="#{devolucionBean.devolucion.car_nombre}" disabled="true"/>
                        <p:outputLabel  value="Fecha Asignado:" class="negrita"/>
                        <p:inputText value="#{devolucionBean.devolucion.sol_fechaasignacion}" disabled="true"/>
                        <p:outputLabel  value="Fecha devolución" class="negrita"/>
                        <p:inputText value="#{devolucionBean.devolucion.deta_fechatentativa}" disabled="true"/>
                        <p:outputLabel  value="Motivo de Descuento" class="negrita"/>
                        <p:selectOneMenu value="#{devolucionBean.devolucion.mot_id}">
                            <f:selectItems value="#{devolucionBean.arrayselectmotivo}" var="rowmtd" itemLabel="#{rowmtd.mot_nombremotivo}" itemValue="#{rowmtd.mot_id}" />
                        </p:selectOneMenu>
                        <p:outputLabel  value="Prenda devuelta?" class="negrita"/>
                        <p:selectOneRadio id="console" value="#{devolucionBean.devolucion.epr_id}">
                            <f:selectItem itemLabel="SI" itemValue="1"  />
                            <f:selectItem itemLabel="NO" itemValue="2" />
                        </p:selectOneRadio>
                    </p:panelGrid>
                </p:fieldset>
                <p:commandButton value="Aceptar" icon="ui-icon-check" title="Aceptar" actionListener="#{devolucionBean.guardarDevolucionBean()}" oncomplete="PF('vardatodevo').hide()" update=":form1:listasignacion"/>
                <p:commandButton value="Cancelar" icon="ui-icon-cancel" title="Cancelar" onclick="PF('vardatodevo').hide()"/>

            </h:form>
        </p:dialog>


        <script type="text/javascript">
            function handleDialogSubmit(xhr, status, args) {
                if (args.validationFailed) {
                    PF('wdatosvar').show();
                } else {
                    PF('wdatosvar').hide();
                }
            }
        </script>
    </ui:define>

</ui:composition>
