<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Sistema de Automatización y control de Ropa de Trabajo</title>
        <link rel="stylesheet" href="/copacabana/public/css/style.css"/>
        <!--<link rel="stylesheet" href="/copacabana/bootstrap/css/bootstrap.min.css"/>-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <div id="wrapper">

            <div class="user-icon"></div>
            <div class="pass-icon"></div>

            <h:form class="login-form">
                <center> 
                    <p:graphicImage width="180" value="/file/#{loginBean.datosempresa.datemp_logo}" style="margin-top: 10px"/>
                </center>

                <div class="header">
                    <h1 style="text-align: center">Sistema de Automatización y Control de Ropa de Trabajo</h1>
                    <span>Favor introduzca usuario y contraseña.</span>
                </div>
                <div class="content">
                    <h:inputText class="input username" pt:placeholder="Usuario" value="#{loginBean.usuario}"  />
                    <h:inputSecret pt:placeholder="clave" class="input password"  value="#{loginBean.clave}" />
                </div>

                <div class="footer">
                    <h:messages   errorStyle="color:red;list-style:none"/> <br></br>
                    <center>
                    <h:commandButton value="Iniciar" class="button" action="#{loginBean.login()}" /> </center>  
                </div>
            </h:form>

        </div>
    </h:body>
</html>
