<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="content">
        
        <p:dataTable>
            <p:column headerText="id">
                <h:outputText value="1"/>
            </p:column>
             <p:column headerText="Nombre del producto">
                <h:outputText value="d"/>
            </p:column>
        </p:dataTable>
    </ui:define>

 
</ui:composition>
