<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
        <p:panel id="basic" header="Solicitud Nueva"  style="margin-bottom:20px">

            <h:form> 
                <p:fieldset  style="margin-bottom:5px;width: 46%;float: left">
                    <h:panelGrid columns="2" cellpadding="3">
                        <h:panelGroup>
                            <p:outputLabel value="Motivo de Solicitud :" class="negrita"/>
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:selectOneMenu value="#{solicitudBean.solicitud.mtv_id}">
                                <f:selectItems value="#{solicitudBean.selectmotivosolicitud}" var="mtv"  itemLabel="#{mtv.mtv_nombre}" itemValue="#{mtv.mtv_id}" />
                            </p:selectOneMenu>  <br>
                                <h:message errorStyle="color: red" for="s" />
                            </br>
                        </h:panelGroup>

                        <h:panelGroup>
                            <p:outputLabel value="Personal :" class="negrita"/>
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:selectOneMenu id="usuario" value="#{solicitudBean.solicitud.usu_idempleado}"  required="true" requiredMessage=" El Usuario no puede estar vacío" >
                                <f:selectItem itemLabel="Seleccione Usuario" itemValue="" />
                                <f:selectItems value="#{solicitudBean.selectItems}" />
                                <p:ajax event="change" listener="#{solicitudBean.cargarDatos(event)}" update="itemropa"/>
                            </p:selectOneMenu>
                            <br>
                                <h:message for="usuario" id="usu" errorStyle="color: red" />
                            </br>
                        </h:panelGroup>

                        <h:panelGroup>
                            <p:outputLabel  value="Items de Prenda:" class="negrita"/>
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:selectOneMenu id="itemropa" value="#{solicitudBean.almacen.al_id}">
                                <f:selectItem itemLabel="---" itemValue=""/>
                                <f:selectItems value="#{solicitudBean.itemsSelect}" />
                                <p:ajax event="change" listener="#{solicitudBean.selectAjaxCantidad(event)}" />
                            </p:selectOneMenu><br> <h:message for="itemropa" id="itemr" errorStyle="color: red" /></br>
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:outputLabel  value="Cantidad Solicitada:" class="negrita" for="cantsolicitada"/>
                        </h:panelGroup>
                        <h:panelGroup>
                        <p:inputText value="#{solicitudBean.almacen.cantasignado}" id="cantsolicitada" converterMessage="Por favor ingres una cantidad válida" >
                            <f:convertNumber integerOnly="true" type="number" />
                        </p:inputText>
                        </h:panelGroup>
                        <p:outputLabel value="Observaciones:" class="negrita"/>
                        <p:inputTextarea cols="30" value="#{solicitudBean.solicitud.sol_descripcion}"/> 
                    </h:panelGrid>
                    <h:panelGrid columns="2">
                    </h:panelGrid>
                    <p:commandButton value="#{solicitudBean.accion}" actionListener="#{solicitudBean.updateEstado()}" oncomplete="handleDialogSubmit(xhr, status, args)"  update="@form" icon="ui-icon-disk" style="margin-bottom: 8px;float: right"/>
                    <!--</p:commandLink>-->
                    <p:commandButton  icon="ui-icon-circle-plus"  value="Agregar" actionListener="#{solicitudBean.registrar()}" update=":formitem:rowitemtable,usu,itemr,msg22"  style="float: right"/>

                    <p:outputLabel id="msg22" value="" style="color: red"/>
                </p:fieldset>


            </h:form>
            <h:form id="formitem">

                <p:fieldset style="margin-bottom:0px;float: left">
                    <p:dataTable var="rowsitems" value="#{solicitudBean.listalmacen}" id="rowitemtable" >

                        <p:column headerText="Codigo">
                            <h:outputText value="#{rowsitems.pro_itemcode}"/>
                        </p:column>
                        <p:column headerText="Prenda">
                            <h:outputText value="#{rowsitems.pro_itemname}"/>
                        </p:column>
                        <p:column headerText="Logo">
                            <h:outputText value="#{rowsitems.pro_logo}"/>
                        </p:column>
                        <p:column headerText="Material">
                            <h:outputText value="#{rowsitems.pro_material}"/>
                        </p:column>
                        <p:column headerText="Color">
                            <h:outputText value="#{rowsitems.pro_color}"/>
                        </p:column>
                        <p:column headerText="Genero">
                            <h:outputText value="#{rowsitems.pro_genero=='F'?'FEMENINO':rowsitems.pro_genero=='M'?'MASCULINO':'UNISEX'}"/>
                        </p:column>
                        <p:column headerText="Tiempo de Vida">
                            <h:outputText value="#{rowsitems.pro_vidautil}"/>
                        </p:column>
                        <p:column headerText="Acción">

                            <p:commandButton value="Eliminar" onclick="if (!confirm('Esta seguro de eliminar el registro ?'))
                                        return false" 
                                             actionListener="#{solicitudBean.EliminarRegistro(rowsitems)}" update="rowitemtable"/>



                        </p:column>
                    </p:dataTable>

                </p:fieldset>

            </h:form>
            <p:graphicImage width="100%" height="1" value="/file/lin.png"/>

        </p:panel>

        <script type="text/javascript">
            function handleDialogSubmit(xhr, status, args) {
                if (args.validationFailed) {
                    PF('vardatoitem').show();
                } else {
                    PF('vardatoitem').hide();
                }
            }
        </script>
    </ui:define>

</ui:composition>
