<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
        <p:panel header="Nueva Solicitud" style="margin-top: 5px">
            <h:form> 
                <p:fieldset  style="margin-bottom:5px;width: 46%;float: left">
                    <h:panelGrid columns="2" cellpadding="3">
                        <h:panelGroup>
                            <p:outputLabel value="Motivo de Solicitud" class="negrita"/>
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:selectOneMenu value="#{talentoBean.talento.mtv_id}">
                                <f:selectItems value="#{talentoBean.selectmotivotalento}" var="mtv"  itemLabel="#{mtv.mtv_nombre}" itemValue="#{mtv.mtv_id}" />
                            </p:selectOneMenu>  
                            <br>
                                <h:message errorStyle="color: red" for="s" />
                            </br>
                        </h:panelGroup>

                        <h:panelGroup>
                            <p:outputLabel value="Personal: " class="negrita"/>
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:selectOneMenu id="usuario" value="#{talentoBean.talento.usu_idempleado}"  required="true" validatorMessage=" El Usuario no puede estar vacío" >
                                <f:selectItem itemLabel="Seleccione Usuario" itemValue="0" />
                                <f:selectItems value="#{talentoBean.selectItems}" />
                                <f:validateLongRange minimum="1"></f:validateLongRange>
                                <p:ajax event="change" listener="#{talentoBean.cargarDatos(event)}" update="comprobar,usu_ci,car_nombre,suc_direccion,:formitem:rowitemtable"/>
                            </p:selectOneMenu>
                            <br>
                                <h:message for="usuario" id="usu" errorStyle="color: red" />
                            </br>


                        </h:panelGroup>

                    </h:panelGrid>
                    <h:inputHidden  id="comprobar" value="#{talentoBean.cantidadropa}" required="true" validatorMessage="El Usuario no tiene Registros de Almacenes">
                        <f:validateLongRange minimum="1"></f:validateLongRange>
                    </h:inputHidden>
                    <h:message for="comprobar" errorStyle="color: red" />
                    <p:commandButton value="Guardar" actionListener="#{talentoBean.registrar()}"  update="@form" icon="ui-icon-disk" style="margin-bottom: 8px;float: right" onclick="if (!confirm('¿Esta seguro de guardar? \nLos datos no seran modificados'))
                                return false"/>
                    <p:outputLabel id="msg22" value="" style="color: red"/>
                </p:fieldset>
                <p:fieldset legend="Información del Usuario" style="margin-bottom:5px;width: 46%;float: right">
                    <h:panelGrid columns="2">
                        <p:outputLabel value="Cargo:" class="negrita"/>
                        <h:outputText value="#{talentoBean.talento.nomcargo}" id="car_nombre"/>
                        <p:outputLabel value="Sucursal:" class="negrita"/>
                        <p:outputLabel value="#{talentoBean.talento.sucursal}" id="suc_direccion"/>  
                        <p:outputLabel value="Identificación" class="negrita"/>
                        <p:outputLabel value="#{talentoBean.talento.ci}" id="usu_ci"/>  
                        <p:outputLabel value="Observaciones:" class="negrita"/>
                        <p:inputTextarea cols="30" value="#{talentoBean.talento.sol_descripcion}"/> 
                    </h:panelGrid>
                </p:fieldset>

            </h:form>
            <h:form id="formitem">

                <p:fieldset style="margin-bottom:0px;float: left">

                    <p:dataTable var="rowsitems" value="#{talentoBean.listalmacen}" id="rowitemtable">
                        <p:column headerText="Codigo" id="prueba">
                            <h:outputText value="#{rowsitems.pro_itemcode}"/>
                        </p:column>
                        <p:column headerText="Prenda">
                            <h:outputText value="#{rowsitems.pro_itemname}"/>
                        </p:column>
                        <p:column headerText="Logo">
                            <h:outputText value="#{rowsitems.pro_logo}"/>
                        </p:column>
                        <p:column headerText="Material">
                            <h:outputText value="#{rowsitems.pro_material}"/>
                        </p:column>
                        <p:column headerText="Color">
                            <h:outputText value="#{rowsitems.pro_color}"/>
                        </p:column>
                        <p:column headerText="Genero">
                            <h:outputText value="#{rowsitems.pro_genero=='F'?'FEMENINO':rowsitems.pro_genero=='M'?'MASCULINO':'UNISEX'}"/>
                        </p:column>
                        <p:column headerText="Talla">
                            <h:outputText value="#{rowsitems.pro_talla}"/>
                        </p:column>
                        <p:column headerText="Tiempo de Vida">
                            <h:outputText value="#{rowsitems.pro_vidautil}  Meses"/>
                        </p:column>
                    </p:dataTable>

                </p:fieldset>

            </h:form>
                   <p:graphicImage width="100%" height="1" value="/file/lin.png"/>

</p:panel>
    </ui:define>

</ui:composition>
