<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
        <p:growl id="messages"/>
        <h:form id='form1'>
            <p:panel id="basic" header="#{adminBean.rol_id==15? 'Solicitudes Pendientes':talentoBean.nompagina}"  style="margin-bottom:20px">

                <p:commandLink  action="talentodetalle" actionListener="#{solicitudBean.setAccion('Guardar')}"> 
                    <p:commandButton  value="Solicita Nueva Prenda" title="Ver" icon="ui-icon-search"/>
                </p:commandLink>
                <p:commandButton value="Actualizar" icon="ui-icon-refresh" actionListener="#{talentoBean.listarTalento()}" update="listtalento"/>

                <p:dataTable var="rowtalento" value="#{talentoBean.arraytalento}" paginator="true" paginatorPosition="bottom" rows="10" rowsPerPageTemplate="10,20,30" id="listtalento" style="width: 100%;margin-top: 10px" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                    <p:column headerText="Nro" style="width: 25px">
                        <h:outputText value="#{rowtalento.alfanumeric}"/>
                    </p:column>
                    <p:column headerText="Usuario">
                        <h:outputText value="#{rowtalento.nomusuario_empleado}"/>
                    </p:column>
                    <p:column headerText="Cargo">
                        <h:outputText value="#{rowtalento.nomcargo}"/>
                    </p:column>
                    <p:column headerText="Sucursal">
                        <h:outputText value="#{rowtalento.sucursal}"/>
                    </p:column>
                    <p:column headerText="Fecha de Solicitud">
                        <h:outputText value="#{rowtalento.sol_fecha}"/>
                    </p:column>


                </p:dataTable>    
            </p:panel>
        </h:form>
        <!--Solicitar nuevo ropa de trabajo-->
      
        <!--FIN Solicitar nuevo ropa de trabajo-->

        <script type="text/javascript">
     
            function iniciar() {
                $("#msg22").val("nose")

            }
        </script>
    </ui:define>

</ui:composition>
