<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id='form1'>
          
            
            <p:panel id="basic" header="#{usuarioBean.nompagina}" footer="" style="margin-bottom:20px">
                 
                <p:inputText  value="#{usuarioBean.palabra}" id="search" class="inputmediano"/>
                <p:commandButton  value="Buscar" icon="ui-icon-refresh" actionListener="#{usuarioBean.bucarUsuario()}" update="listusuario"/>
                
                <p:dataTable tableStyleClass="ui-table-columntoggle" var="rowusu" value="#{usuarioBean.arrayusu}" paginator="true" paginatorPosition="bottom" rows="10"  id="listusuario" style="width: 100%;margin-top: 10px"  paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                                      
                    <p:column headerText="Id" style="width: 25px">
                        <h:outputText value="#{rowusu.ush_id}"/>
                    </p:column>
                    <p:column headerText="Usuario" >
                        <h:outputText value="#{rowusu.usu_nombre}"/>
                    </p:column>
                    <p:column headerText="Sexo" >
                        <h:outputText value="#{rowusu.usu_sexo}"/>
                    </p:column>
                    <p:column headerText="Nick">
                        <h:outputText value="#{rowusu.ush_correo}" />
                    </p:column> 
                    <p:column headerText="Rol">
                        <h:outputText value="#{rowusu.nomrol}"/>
                    </p:column>
                    <p:column headerText="Cargo">
                        <h:outputText value="#{rowusu.nomcargo}"/>
                    </p:column>
                    <p:column headerText="Acción">
                        <p:commandButton value="Asignar Rol" actionListener="#{usuarioBean.leerUsuario(rowusu)}" oncomplete="PF('wdatosvar').show()" update=":wdatosid" icon="ui-icon-person"/>
                    </p:column>
                </p:dataTable>    
            </p:panel>
        </h:form>

        <p:dialog header="Datos" widgetVar="wdatosvar" id="wdatosid" modal="true" showEffect="explode" hideEffect="explode">
            <h:form>
                <h:panelGrid columns="2">
                    <h:panelGroup>
                        <h:outputLabel value="Nick " for="ush_correo" />   
                    </h:panelGroup>
                    <h:panelGroup>
                        <p:inputText id="ush_correo" value="#{usuarioBean.usuariohis.ush_correo}" required="true" requiredMessage=" El Nick no puede estar vacío" >
<!--                            <f:validateRegex
                                pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />-->
                        </p:inputText>
                        <h:message for="ush_correo" errorStyle="color: red" />  
                    </h:panelGroup>
                    <h:panelGroup>
                        <p:outputLabel value="Rol " for="rol" />                          
                    </h:panelGroup>
                    <h:panelGroup>
                        <p:selectOneMenu id="rol" value="#{usuarioBean.usuariohis.rol_id}" required="true" requiredMessage=" Seleccioné un Rol">
                            <f:selectItem itemValue="" itemLabel="Seleccioné Rol"/>
                            <f:selectItems var="rowrol" value="#{usuarioBean.arrayrol}" itemLabel="#{rowrol.rol_nombre}" itemValue="#{rowrol.rol_id}"/>
                        </p:selectOneMenu>
                        <h:message for="rol" errorStyle="color: red" />  
                    </h:panelGroup>
                    <p:commandButton value="Generar Credencial" actionListener="#{usuarioBean.saveUsuario()}"  oncomplete="handleDialogSubmit(xhr, status, args)"  update=":form1:listusuario,@form,refrescar" icon="ui-icon-check" />
                    <p:commandButton value="Cancelar" immediate="true" onclick="PF('wdatosvar').hide();" icon="ui-icon-cancel" />
                    <p:outputLabel id="refrescar" />
                </h:panelGrid>
            </h:form>
        </p:dialog>  

        <script type="text/javascript">
            function handleDialogSubmit(xhr, status, args) {
                if (args.validationFailed) {
                    PF('wdatosvar').show();
                } else {
                    PF('wdatosvar').hide();
                }
            }
        </script>
    </ui:define>

</ui:composition>
