<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id='form1'>
            <p:panel id="basic" header="#{clapersonalBean.nompagina}" footer="10 registros" style="margin-bottom:20px">

                <p:commandButton value="Nuevo" icon="ui-icon-document" oncomplete="PF('wdatosvar').show()" actionListener="#{clapersonalBean.setAccion('Registrar')}" update=":wdatosid" />
                <p:commandButton value="Actualizar" actionListener="#{clapersonalBean.listarClapersonal()}" update="listclapersonal" />
                <p:dataTable var="rowclapersonal" value="#{clapersonalBean.arrayclapersonal}" id="listclapersonal" style="width: 70%;margin-top: 10px">
                    <p:column headerText="Id" style="width: 25px">
                        <h:outputText value="#{rowclapersonal.clap_id}"/>
                    </p:column>
                    <p:column headerText="Nombre de Clasificación">
                        <h:outputText value="#{rowclapersonal.clap_nombre}"/>
                    </p:column>
                 
                    <p:column headerText="Acción">
                        <p:commandButton title="Editar" icon="ui-icon-pencil" value="Editar" actionListener="#{clapersonalBean.leerModificar(rowclapersonal)}" oncomplete="PF('wdatosvar').show()" update=":wdatosid"/>
                        <p:commandButton title="Eliminar" icon="ui-icon-trash" value="Eliminar" onclick="if (!confirm('Esta seguro de eliminar el registro ?'))
                                return false" actionListener="#{clapersonalBean.leerEliminar(rowclapersonal)}" update="listclapersonal" />
                        <!--                    <p:commandButton type="button" title="Print" icon="ui-icon-print" value="Ver" />-->
                    </p:column>
                </p:dataTable>    
            </p:panel>
        </h:form>
        <p:dialog header="Datos" widgetVar="wdatosvar" id="wdatosid" modal="true" showEffect="explode" hideEffect="explode">
            <h:form>
                <h:panelGrid columns="2" cellpadding="3">
                    
                    <h:panelGroup>
                    <h:outputLabel value="Nombre de Clasificación " for="clapersonal_nombre"   />
                    </h:panelGroup>
                    <h:panelGroup>  <p:inputText id="clapersonal_nombre" value="#{clapersonalBean.clapersonal.clap_nombre}" required="true" validatorMessage="Minimo 2 caracteres!"
                             requiredMessage=" El Nombre de Clasificación no puede estar vacío" >
                    <f:validateLength minimum="2" />
                </p:inputText>
                <h:message for="clapersonal_nombre" errorStyle="color: red" />
                </h:panelGroup>
                     <h:panelGroup>
                          </h:panelGroup> <h:panelGroup>
                <p:commandButton value="#{clapersonalBean.accion}" actionListener="#{clapersonalBean.operar()}" oncomplete="handleDialogSubmit(xhr, status, args)"  update=":form1:listclapersonal,@form"/>
                <p:commandButton value="Cancelar" immediate="true" onclick="PF('wdatosvar').hide();"/>
                 </h:panelGroup>
              </h:panelGrid>
            </h:form>
        </p:dialog>

<script type="text/javascript">
   function handleDialogSubmit(xhr, status, args) {
        if (args.validationFailed) {
            PF('wdatosvar').show();
        } else {
            PF('wdatosvar').hide();
        }
    }
</script>
    </ui:define>

</ui:composition>
