<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form>
            <p:panel id="basic" header="#{datosempresaBean.nompagina}" style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="2" cellspacing="3">
                    <p:outputLabel value="Nombre" class="negrita"/>
                    <p:inputText value="#{datosempresaBean.datosempresa.datemp_nombreempresa}" class="inputmediano"/>
                    <p:outputLabel value="Dirección" class="negrita"/>
                    <p:inputText value="#{datosempresaBean.datosempresa.datemp_direccion}" class="inputmediano"/>
                    <p:outputLabel value="Teléfono" class="negrita"/>
                    <p:inputText value="#{datosempresaBean.datosempresa.datemp_telefono}" class="inputmediano"/>
                    <p:outputLabel value="NIT" class="negrita"/>
                    <p:inputText value="#{datosempresaBean.datosempresa.datemp_nit}" class="inputmediano"/>
                    <p:outputLabel value="Logo" class="negrita"/>
                    <p:inputText value="#{datosempresaBean.datosempresa.datemp_logo}" class="inputmediano"/>
                    <p:commandButton value="Guardar" actionListener="#{datosempresaBean.registrar()}" update="@form"/>
                </h:panelGrid>
            </p:panel>
        </h:form>
    

    </ui:define>

</ui:composition>
