<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">

        <h:form id="form1">
            <p:panel id="basic" header="Devoluciones Pendientes"  style="margin-bottom:20px">
                <h:panelGrid columns="4" cellpadding="1" cellspacing="2" style="width: 100%">
                    <p:outputLabel value="Empleado:" class="negrita"/>
                    <p:inputText value="#{devolucionBean.devoldetalle.nomempleado}" disabled="true" class="inputmediano"/>
                    <p:outputLabel value="Fecha de Solicitud:" class="negrita"/>
                    <p:inputText value="#{devolucionBean.devoldetalle.sol_fecha}" disabled="true"/>

                    <p:outputLabel value="Cargo:" class="negrita"/>
                    <p:inputText value="#{devolucionBean.devoldetalle.car_nombre}" disabled="true"/>

                    <p:outputLabel value="Solicitante:" class="negrita"/>
                    <p:inputText value="#{devolucionBean.devoldetalle.nomsolicitante}"  disabled="true" class="inputmediano"/>
                    <p:outputLabel value="Sucursal:" class="negrita"/>
                    <p:inputText value="#{devolucionBean.devoldetalle.sucursal}" class="inputmediano" disabled="true"/>
                    <p:outputLabel value="Motivo:" class="negrita"/>
                    <p:inputText value="#{devolucionBean.devoldetalle.motivo}" class="inputmediano" disabled="true"/>
                </h:panelGrid>

                <p:dataTable var="rowitem" editable="true" value="#{devolucionBean.listalmacendevolucion}" id="listadevolucion" style="width: 100%; margin-top: 10px" selectionMode="multiple" selection="#{devolucionBean.listaselecciondevolucion}" rowKey="#{rowitem.deta_id}" >
                    <p:column headerText="Nro" style="width: 25px">
                        <h:outputText value="#{rowitem.alfanumeric}" />
                    </p:column>
                    <p:column headerText="Código" style="width: 100px;">
                        <h:outputText value="#{rowitem.pro_itemcode}"/>
                    </p:column>                    
                    <p:column headerText="Prenda">
                        <h:outputText value="#{rowitem.pro_itemname}"/>
                    </p:column>
                    <p:column headerText="F. Asignacion"  >
                        <h:outputText value="#{rowitem.sol_fechaasignacion}" />
                    </p:column>
                    <p:column headerText="F. Dev. Tentativa" >
                        <h:outputText value="#{rowitem.deta_fechatentativa}" />
                    </p:column>
                    <p:column headerText="Devuelto" >
                        <h:outputText value="#{rowitem.devuelto}"/>
                    </p:column>
                    <p:column headerText="Acción">
                        <p:commandButton title="Recibir" icon="ui-icon-pencil" value="Recibir" actionListener="#{devolucionBean.leerIdBean(rowitem)}" oncomplete="PF('vardatodevo').show()" update=":vardatodevoid" style="display: #{rowitem.statusBoton==1?'block':'none'}"/>
                    </p:column>
                </p:dataTable>
                <br>
                    <h:commandButton  value="Comprobante" actionListener="#{devolucionBean.exportarPdf()}" style="padding: 4px" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" />
                </br>
            </p:panel>

        </h:form>
        <p:dialog widgetVar="vardatodevo" position="center top" id="vardatodevoid" modal="true" style="position:absolute;top:-100px;">
            <h:form>
                <p:fieldset legend="Información del Item de Ropa de Trabajo" style="margin-bottom:5px;">
                    <h:panelGrid columns="4" width="100%">
                        
                        <p:outputLabel  value="Talla:" class="negrita"/>
                        <p:outputLabel id="altalla" value="#{devolucionBean.devolucion.pro_talla}" />
                        <p:outputLabel  value="Logo:" class="negrita"/>
                        <p:outputLabel id="allogo" value="#{devolucionBean.devolucion.pro_logo}" />
                        <p:outputLabel  value="Genero:" class="negrita"/>
                        <p:outputLabel id="algenero" value="#{devolucionBean.devolucion.pro_genero}"/>
                        <p:outputLabel  value="Color:" class="negrita"/>
                        <p:outputLabel id="alcolor" value="#{devolucionBean.devolucion.pro_color}" /> 

                        <p:outputLabel  value="Codigo:" class="negrita"/>
                        <p:outputLabel id="alcodigo" value="#{devolucionBean.devolucion.pro_itemcode}"/>
                        <p:outputLabel  value="Prenda:" class="negrita"/>
                        <p:outputLabel id="alprenda" value="#{devolucionBean.devolucion.pro_itemname}" />

                        <p:outputLabel  value="Material:" class="negrita"/>
                        <p:outputLabel id="almaterial" value="#{devolucionBean.devolucion.pro_material}" />

                        <p:outputLabel  value="Descripción:" class="negrita"/>
                        <p:outputLabel id="aldescripcion" value="#{devolucionBean.devolucion.pro_descripcion}" />
                        
                    </h:panelGrid>
                </p:fieldset> 
                <p:fieldset  style="margin-bottom:5px;" legend="Recepción de Prenda">
                    <p:panelGrid columns="2" >
                        <p:outputLabel  value="Trabajador:" class="negrita" />
                        <p:inputText value="#{devolucionBean.devolucion.nomempleado}" disabled="true"/>
                        <p:outputLabel  value="Cargo:" class="negrita" />
                        <p:inputText value="#{devolucionBean.devolucion.car_nombre}" disabled="true"/>
                        <p:outputLabel  value="Fecha Asignado:" class="negrita"/>
                        <p:inputText value="#{devolucionBean.devolucion.sol_fechaasignacion}" disabled="true"/>
                        <p:outputLabel  value="Motivo:" class="negrita"/>
                        <p:inputText value="#{devolucionBean.devolucion.motivo}" disabled="true"/>
                        <p:outputLabel  value="Prenda devuelta?" class="negrita"/>
                        <p:selectOneRadio id="console" value="#{devolucionBean.devolucion.epr_id}">
                            <f:selectItem itemLabel="SI" itemValue="1"  />
                            <f:selectItem itemLabel="NO" itemValue="2" />
                        </p:selectOneRadio>
                    </p:panelGrid>
                </p:fieldset>
                <p:commandButton value="Aceptar" icon="ui-icon-check" title="Aceptar" actionListener="#{devolucionBean.guardarDevolucionBean()}" oncomplete="PF('vardatodevo').hide()" update=":form1:listadevolucion"/>
                <p:commandButton value="Cancelar" icon="ui-icon-cancel" title="Cancelar" onclick="PF('vardatodevo').hide()"/>
            </h:form>
        </p:dialog>

        <script type="text/javascript">
            function handleDialogSubmit(xhr, status, args) {
                if (args.validationFailed) {
                    PF('vardatoitem').show();
                } else {
                    PF('vardatoitem').hide();
                }
            }
        </script>
    </ui:define>

</ui:composition>
