<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id='form1'>
            <p:panel id="basic" header="#{menuBean.nompagina}" footer="10 registros" style="margin-bottom:20px">

                <p:commandButton value="Nuevo" icon="ui-icon-document" oncomplete="PF('wdatosvar').show()" actionListener="#{menuBean.setAccion('Registrar')}" update=":wdatosid" />
                <p:commandButton value="Actualizar" actionListener="#{menuBean.listarMenu()}" update="listmenu" />
                <p:dataTable var="rowmenu" value="#{menuBean.arraymenu}" id="listmenu" style="width: 70%;margin-top: 10px">
                    <p:column headerText="Id" style="width: 25px">
                        <h:outputText value="#{rowmenu.men_id}"/>
                    </p:column>
                    <p:column headerText="Nombre de Menú">
                        <h:outputText value="#{rowmenu.men_nombre}"/>
                    </p:column>
                    <p:column headerText="Alias">
                        <h:outputText value="#{rowmenu.men_alias}"/>
                    </p:column>
                    <p:column headerText="Acción">
                        <p:commandButton title="Editar" icon="ui-icon-pencil"  actionListener="#{menuBean.leerModificar(rowmenu)}" oncomplete="PF('wdatosvar').show()" update=":wdatosid"/>
                        <p:commandButton title="Eliminar" icon="ui-icon-trash" onclick="if (!confirm('Esta seguro de eliminar el registro ?'))
                                return false" actionListener="#{menuBean.leerEliminar(rowmenu)}" update="listmenu" />
                        <!--                    <p:commandButton type="button" title="Print" icon="ui-icon-print" value="Ver" />-->
                    </p:column>
                </p:dataTable>    
            </p:panel>
        </h:form>
        <p:dialog header="Datos" widgetVar="wdatosvar" id="wdatosid" modal="true" showEffect="explode" hideEffect="explode">
            <h:form>
                <br>
                    <h:outputLabel value="Nombre Menú: " for="menu_nombre" />
                <p:inputText id="menu_nombre" value="#{menuBean.menu.men_nombre}" required="true" validatorMessage="Minimo 2 caracteres!"
                             requiredMessage=" El Nombre Menu no puede estar vacío" >
                    <f:validateLength minimum="2" />
                </p:inputText>
                <h:message for="menu_nombre" errorStyle="color: red" />
                </br><br>
                    <h:outputLabel value="Nombre Alias: " for="menu_alias" />
                <p:inputText id="menu_alias" value="#{menuBean.menu.men_alias}" required="true" validatorMessage="Minimo 2 caracteres!"
                             requiredMessage=" El Alias no puede estar vacío" >
                    <f:validateLength minimum="2" />
                </p:inputText>
                <h:message for="menu_alias" errorStyle="color: red" />
                </br>
                <br>
                <p:commandButton value="#{menuBean.accion}" actionListener="#{menuBean.operar()}" oncomplete="handleDialogSubmit(xhr, status, args)"  update=":form1:listmenu,@form"/>
                <p:commandButton value="Cancelar" immediate="true" onclick="PF('wdatosvar').hide();"/></br>
            </h:form>
        </p:dialog>

<script type="text/javascript">
   function handleDialogSubmit(xhr, status, args) {
        if (args.validationFailed) {
            PF('wdatosvar').show();
        } else {
            PF('wdatosvar').hide();
        }
    }
</script>
    </ui:define>

</ui:composition>
