<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
        <h:form id='form1'>
            <p:panel id="basic" header="Lista de Pendientes" footer="" style="margin-bottom:20px">
                <p:panelGrid columns="2" >
                    <p:row>
                        Ubicación: 
                        <p:selectOneMenu value="#{usuarioBean.ubicacion.ubi_id}" id="usuarios">
                            <f:selectItems value="#{usuarioBean.arrayubicacion}" var="mtv"  itemLabel="#{mtv.ubi_nombre}" itemValue="#{mtv.ubi_id}" />
                        </p:selectOneMenu>                        
                    </p:row>
                    <p:row>
                        Código:
                        <p:inputText value="#{usuarioBean.palabra}" id="search" class="inputmediano" />
                        <p:commandButton  value="Buscar" icon="ui-icon-refresh" actionListener="#{usuarioBean.bucarCodigo()}" update="listusuario codigo"/>                        
                    </p:row>
                
                
                    <h:outputText value="Nombre del Item: " />
                    <h:outputText value="#{usuarioBean.almacen.pro_itemname}" id="codigo"></h:outputText>
                </p:panelGrid>                                

                <p:dataTable tableStyleClass="ui-table-columntoggle" var="rowusu" value="#{usuarioBean.arraycodigo}" paginator="true" paginatorPosition="bottom" rows="30"  id="listusuario" style="width: 100%;margin-top: 10px"  paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                    <p:column headerText="Id" style="width: 25px">
                        <h:outputText value="#{rowusu.ush_id}"/>
                        <f:facet name="footer">
                            <h:outputText value="" />
                        </f:facet>                        
                    </p:column>
                    <p:column headerText="Nombre" >
                        <h:outputText value="#{rowusu.usu_nombre}"/>
                        <f:facet name="footer">
                            <h:outputText value="" />
                        </f:facet>                    
                    </p:column>
                    <p:column headerText="Cargo" >
                        <h:outputText value="#{rowusu.nomcargo}"/>
                        <f:facet name="footer">
                            <h:outputText value="" />
                        </f:facet>                    
                    </p:column>
                    <p:column headerText="Area">
                        <h:outputText value="#{rowusu.nomarea}" />
                        <f:facet name="footer">
                            <h:outputText value="Total" />
                        </f:facet>                    </p:column> 
                    <p:column headerText="Cant. Pendiente">
                        <h:outputText value="#{rowusu.cantpendiente}"/>
                        <f:facet name="footer">
                            <h:outputText value="#{usuarioBean.pendientetotal}" />
                        </f:facet>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
