<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id='form1'>
            <p:panel id="basic" header="#{puestotrabajoBean.nompagina}" footer="10 registros" style="margin-bottom:20px">

                <p:commandButton value="Nuevo" icon="ui-icon-document" oncomplete="PF('wdatosvar').show()" actionListener="#{puestotrabajoBean.setAccion('Registrar')}" update=":wdatosid" />
                <p:commandButton value="Actualizar" actionListener="#{puestotrabajoBean.listarPuestotrabajo()}" update="listpuestotrabajo" />
                <p:dataTable var="rowpuestotrabajo" value="#{puestotrabajoBean.arraypuestotrabajo}" id="listpuestotrabajo" style="width: 70%;margin-top: 10px">
                    <p:column headerText="Id" style="width: 25px">
                        <h:outputText value="#{rowpuestotrabajo.ptb_id}"/>
                    </p:column>
                    <p:column headerText="Puesto de Trabajo">
                        <h:outputText value="#{rowpuestotrabajo.ptb_nombre}"/>
                    </p:column>
                    <p:column headerText="Acción">
                        <p:commandButton title="Editar" icon="ui-icon-pencil" value="Editar" actionListener="#{puestotrabajoBean.leerModificar(rowpuestotrabajo)}" oncomplete="PF('wdatosvar').show()" update=":wdatosid"/>
                        <p:commandButton title="Eliminar" icon="ui-icon-trash" value="Eliminar" onclick="if (!confirm('Esta seguro de eliminar el registro ?'))
                                    return false" actionListener="#{puestotrabajoBean.leerEliminar(rowpuestotrabajo)}" update="listpuestotrabajo" />
                        <!--                    <p:commandButton type="button" title="Print" icon="ui-icon-print" value="Ver" />-->
                    </p:column>
                </p:dataTable>    
            </p:panel>
        </h:form>
        <p:dialog header="Datos" widgetVar="wdatosvar" id="wdatosid" modal="true" showEffect="explode" hideEffect="explode">
            <h:form>
                <h:panelGrid columns="3" cellpadding="2">
                    <h:outputLabel value="Puesto de Trabajo: " for="puestotrabajo_nombre"   />
                    <p:inputText id="puestotrabajo_nombre" value="#{puestotrabajoBean.puestotrabajo.ptb_nombre}" required="true" validatorMessage="Minimo 2 caracteres!"
                                 requiredMessage=" El Puesto de trabajo no puede estar vacío" >
                        <f:validateLength minimum="2" />
                    </p:inputText>
                    <h:message for="puestotrabajo_nombre" errorStyle="color: red" />

                    <p:commandButton value="#{puestotrabajoBean.accion}" actionListener="#{puestotrabajoBean.operar()}" oncomplete="handleDialogSubmit(xhr, status, args)"  update=":form1:listpuestotrabajo,@form"/>
                    <p:commandButton value="Cancelar" immediate="true" onclick="PF('wdatosvar').hide();"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>

        <script type="text/javascript">
            function handleDialogSubmit(xhr, status, args) {
                if (args.validationFailed) {
                    PF('wdatosvar').show();
                } else {
                    PF('wdatosvar').hide();
                }
            }
        </script>
    </ui:define>

</ui:composition>
