<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id='form1'>
            <p:panel id="basic" header="Gestor de Roles" style="margin-bottom:20px">

                <p:commandButton value="Nuevo" icon="ui-icon-document" oncomplete="PF('wdatosvar').show()" actionListener="#{rolBean.setAccion('Registrar')}" update=":wdatosid" />
                <p:commandButton value="Actualizar" icon="ui-icon-note" actionListener="#{rolBean.listarRol()}" update="listrol" />
                <p:dataTable var="rowrol" value="#{rolBean.arrayrol}" id="listrol" style="width: 70%;margin-top: 10px">
                    <p:column headerText="Id" style="width: 25px">
                        <h:outputText value="#{rowrol.rol_id}"/>
                    </p:column>
                    <p:column headerText="Nombre de Rol">
                        <h:outputText value="#{rowrol.rol_nombre}"/>
                    </p:column>
                    <p:column headerText="Acción">
                        <p:commandButton title="Save" icon="ui-icon-pencil"  actionListener="#{rolBean.leerModificar(rowrol)}" oncomplete="PF('wdatosvar').show()" update=":wdatosid"/>
                        <p:commandButton title="Delete" icon="ui-icon-trash" onclick="if (!confirm('Esta seguro de eliminar el registro ?'))return false" actionListener="#{rolBean.leerEliminar(rowrol)}" update="listrol" />
                        <p:commandButton title="Permisos" icon="ui-icon-newwin" value="Permisos" actionListener="#{rolBean.leerID(rowrol)}" oncomplete="PF('wdatospermisos').show()" update=":wdatospermisosid" />
                    </p:column>
                </p:dataTable>    
            </p:panel>
        </h:form>
        <p:dialog header="Datos" widgetVar="wdatosvar" id="wdatosid" modal="true" showEffect="explode" hideEffect="explode">
            <h:form>

                <h:outputLabel value="Nombre Rol: " for="rol_nom"  />
                <p:inputText id="rol_nom" value="#{rolBean.rol.rol_nombre}" required="true" validatorMessage="Minimo 2 caracteres!"
                             requiredMessage=" El Nombre Rol no puede estar vacio" >
                    <f:validateLength minimum="2" />
                </p:inputText>
                <h:message for="rol_nom" errorStyle="color: red" />
                <br>
                    <p:commandButton value="#{rolBean.accion}" icon="ui-icon-check" actionListener="#{rolBean.operar()}" oncomplete="handleDialogSubmit(xhr, status, args)"  update=":form1:listrol,@form"/>
                    <p:commandButton value="Cancelar"  icon="ui-icon-circle-close" immediate="true" onclick="PF('wdatosvar').hide();"/></br>
            </h:form>
        </p:dialog>
        <p:dialog header="Permisos" widgetVar="wdatospermisos" id="wdatospermisosid" modal="true" showEffect="explode" hideEffect="explode">
            <h:form id="form3">
                <h:inputHidden value="#{rolBean.rol.rol_id}"/>
                <p:selectManyCheckbox id="grid" value="#{rolBean.selectMenu}"  layout="grid" columns="1">
                    <f:selectItems value="#{rolBean.arraymenu}" var="rowmenu" itemLabel="#{rowmenu.men_nombre}" itemValue="#{rowmenu.men_id}" />
                </p:selectManyCheckbox>
                <p:commandButton value="Modificar" actionListener="#{rolBean.guardarSelect()}"  oncomplete="PF('wdatospermisos').hide()" icon="ui-icon-check" />
                <p:commandButton value="Cancelar" immediate="true" onclick="PF('wdatospermisos').hide();" icon="ui-icon-cancel" />
            </h:form>
        </p:dialog> 


        <script type="text/javascript">
            function handleDialogSubmit(xhr, status, args) {
                if (args.validationFailed) {
                    PF('wdatosvar').show();
                } else {
                    PF('wdatosvar').hide();
                }
            }
        </script>
    </ui:define>

</ui:composition>
