<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./public/template/layout.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="content">
        <p:panel id="basic" header="Solicitud Nueva"  style="margin-bottom:20px">
            <h:form>   
                <p:fieldset  style="margin-bottom:5px;width:98%;">
                    <h:panelGrid columns="2" cellpadding="3">
                        <h:panelGroup>
                            <p:outputLabel value="Motivo de Solicitud :" class="negrita"/>
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:selectOneMenu value="#{solicitudBean.solicitud.mot_id}" id="usuarios">
                                <f:selectItems value="#{solicitudBean.selectmotivosolicitud}" var="mtv"  itemLabel="#{mtv.mot_nombremotivo}" itemValue="#{mtv.mot_id}" />
                                <p:ajax event="change" process="@this, usuario" partialSubmit="true" listener="#{solicitudBean.cargarDatos}" update="rowitemtable" />
                            </p:selectOneMenu>  <br>
                                <h:message errorStyle="color: red" for="s" />
                            </br>
                        </h:panelGroup>

                        <h:panelGroup>
                            <p:outputLabel value="Personal :" class="negrita"/>
                        </h:panelGroup>
                        <h:panelGroup>
                            <p:selectOneMenu id="usuario" value="#{solicitudBean.solicitud.usu_idempleado}"  required="true" requiredMessage=" El Usuario no puede estar vacío"  disabled="#{solicitudBean.modificarver==1?'false':'true'}">
                                <f:selectItem itemLabel="Seleccione Usuario" itemValue="" />
                                <f:selectItems value="#{solicitudBean.selectItems}" />
                                <p:ajax event="change" process="@this, usuarios" partialSubmit="true" listener="#{solicitudBean.cargarDatos}" update="rowitemtable" />
                            </p:selectOneMenu>
                            <br>
                                <h:message for="usuario" id="usu" errorStyle="color: red" />
                            </br>
                        </h:panelGroup>
                        <p:outputLabel value="Observaciones:" class="negrita"/>
                        <p:inputTextarea cols="30" value="#{solicitudBean.solicitud.sol_descripcion}"/> 
                    </h:panelGrid>
                    <h:panelGrid columns="2">
                    </h:panelGrid>
                    
                    <p:commandButton  icon="ui-icon-disk"  value="#{solicitudBean.modificarver==1?'Guardar':'Modificar'}" actionListener="#{solicitudBean.registrar()}" update="rowitemtable,msg22" />
                    <p:outputLabel id="msg22" value="#{solicitudBean.mensaje}" style="color: red; margin-left: 10px"/>
                    
                </p:fieldset>
                <p:fieldset style="margin-bottom:0px">
                    <p:dataTable var="rowsitems" editable="true" value="#{solicitudBean.listalmacen}" id="rowitemtable" selection="#{solicitudBean.selectItemsol}" rowKey="#{rowsitems.alfanumeric}" >
                        <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                        <p:column headerText="Codigo" style="width: 110px">
                            <h:outputText value="#{rowsitems.pro_itemcode}"/>
                        </p:column>
                        <p:column headerText="Prenda">
                            <h:outputText value="#{rowsitems.pro_itemname}"/>
                        </p:column>
                        <p:column headerText="Logo">
                            <h:outputText value="#{rowsitems.pro_logo}"/>
                        </p:column>
                        <p:column headerText="Material">
                            <h:outputText value="#{rowsitems.pro_material}"/>
                        </p:column>
                        <p:column headerText="Color">
                            <h:outputText value="#{rowsitems.pro_color}"/>
                        </p:column>
                        <p:column headerText="Genero">
                            <h:outputText value="#{rowsitems.pro_genero=='F'?'FEMENINO':rowsitems.pro_genero=='M'?'MASCULINO':'UNISEX'}"/>
                        </p:column>
                        <p:column headerText="Tiempo de Vida" style="width: 50px">
                            <h:outputText value="#{rowsitems.pro_vidautil}"/>
                        </p:column>
                        <p:column headerText="F. Devolucion">
                            <h:outputText value="#{rowsitems.fechatentativa}"/>
                        </p:column>
                    </p:dataTable>
                </p:fieldset>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
